{
    "semi": false,
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "bracketSameLine": false,
    "printWidth": 120
  }
  